<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

</head>
<center>
<body style="background-color:#F7E7CE;">
<h1>Weather Details</h1>
<br><br>
<img src="map.png" alt="Mountain View" style="width:304px;height:228px;">

<div data-role="page">
  <div data-role="header" data-position="fixed">
  </div>
  </div>
<br><br><br> 
<form action="MainServlet" method="POST" name="Movetosample">
  Enter city name:<br><br>
  <input type="text" name="firstname">
  <br><br>
  <input type="submit" value="Get Details">
</form>


</body>
</center>
</html>